## .NET Core / Visual Studio
[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
*.userosscache
.DotSettings.user

## IDEs e Ferramentas
.idea/
.continue/

## Variáveis de Ambiente e Configurações Sensíveis
.env
**/appsettings.json
!**/appsettings.json.example
!**/appsettings.json.example.json