## .NET Core / Visual Studio
[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
*.userosscache
.DotSettings.user

## Diretórios do projeto
backend/**/[Bb]in/
backend/**/[Oo]bj/
backend/**/.vs/
backend/**/.idea/
backend/**/.continue/

## IDEs e Ferramentas
.idea/
.continue/

## Variáveis de Ambiente e Configurações Sensíveis
.env
backend/.env
backend/**/.env
**/appsettings*.json
!**/appsettings.json.example
!**/appsettings.json.example.json
!**/appsettings.Development.example.json